input {
  border: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 70px;
  padding: 0 15px;
  max-width: 750px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 32px 32px 0 rgba(51, 41, 39, 0.05);
  font-size: 2em;
  text-align: center;
  color: #929292;
}

body {
  text-align: center;
  background: #eefcff;
}

.content {
  margin-top: 11%;
  padding: 15px;
}

.title {
  color: #333;
  max-width: 458px;
  line-height: 0.9em;
  text-align: center;
  margin-bottom: 20px;
  font-size: 58px;
  font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
}

.result {
  color: #333;
  line-height: 0.9em;
  text-align: center !important;
  font-size: 45px;
  font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
}

#message {
  font-size: 0.3em;
  display: none;
  margin-top: -50px;
}

html body div.content class.title h3 a {
  font-size: 0.2em;
  text-decoration: none;
  padding: 15px;
  border: 1px solid #bcc9cc;
  color: #bcc9cc;
}
